.pizza-card .row {
  text-align: center;
}
.pizza-card .description {
  font-size: 14px;
  height: 60px;
  overflow: auto;
}
.pizza-card .buy-big,
.pizza-card .buy-small {
  margin-top: 5px;
  background-color: #ec971f;
  border-color: #df8a13;
}
.pizza-card .buy-big:hover,
.pizza-card .buy-small:hover {
  background-color: #e89014;
  border-color: #d58512;
}
.pizza-card .price {
  font-size: 34px;
  margin-top: 10px;
  margin-bottom: -10px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.pizza-card .pizza-stats {
  font-size: 18px;
}
.pizza-card .pizza-stats span {
  color: rgba(38, 38, 38, 0.94);
}
.pizza-card .icon {
  width: 15px;
  height: 15px;
}
.pizza-card .title {
  color: #ec6a1c;
  font-size: 26px;
  font-weight: 600;
}
.pizza-card .pizza-type {
  display: block;
  font-size: 12px;
  color: rgba(160, 160, 160, 0.98);
}
.pizza-card img {
  width: 100%;
  max-width: 300px;
}
.pizza-card .label {
  font-size: 17px;
  position: absolute;
  top: -8px;
  right: 0;
}
body {
  font-family: 'Kurale', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #fdffe7;
}
body * {
  color: rgba(12, 12, 12, 0.94);
}
p {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: rgba(38, 38, 38, 0.94);
}
button:focus {
  outline: none !important;
}
#cart {
  display: inline-block;
  z-index: 100;
  right: 0;
  top: 0;
  width: 330px;
  position: fixed;
  background-color: white;
}
#cart .header {
  height: 90px;
  position: relative;
  text-align: center;
}
#cart .header .outer {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 10px;
}
#cart .header .outer .title-block {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
#cart .header .outer .title-text {
  font-size: 22px;
}
#cart .header .outer .amount-label span {
  vertical-align: top;
  font-size: 12px;
}
#cart .header .outer .btn-link {
  font-size: 11px;
  margin-left: 10px;
  text-decoration: none;
  color: #9b9b9b;
}
#cart .action-block {
  height: 100%;
  box-shadow: -8px 0 8px -4px #c4c4c4;
}
#cart .action-block .orders {
  overflow: auto;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border-bottom: 1px solid #e1e1e1;
}
#cart .action-block .orders .order-template {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #e1e1e1;
}
#cart .action-block .orders .order-template div {
  padding: 5px;
  padding-left: 18px;
}
#cart .action-block .orders .order-template .pizza-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 10px;
  right: -50px;
}
#cart .action-block .orders .order-template .pizza-title {
  font-size: 21px;
  color: #ec6a1c;
}
#cart .action-block .orders .order-template .stats-block .pizza-stats {
  padding-right: 10px;
}
#cart .action-block .orders .order-template .amount-toggler-block {
  padding-top: 2px;
  padding-bottom: 10px;
}
#cart .action-block .orders .order-template .amount-toggler-block .price,
#cart .action-block .orders .order-template .amount-toggler-block .amount {
  font-size: 14px;
  font-weight: 700;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin-right: 10px;
}
#cart .action-block .orders .order-template .amount-toggler-block .amount {
  margin-left: 10px;
}
#cart .action-block .orders .order-template .amount-toggler-block .btn {
  padding-left: 0;
  padding-right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}
#cart .action-block .orders .order-template .amount-toggler-block .btn span {
  color: white;
}
#cart .action-block .orders .order-template .amount-toggler-block .btn-success {
  padding-left: 2px;
}
#cart .action-block .orders .order-template .amount-toggler-block .btn-default {
  margin-left: 20px;
  width: 31px;
  height: 31px;
  box-shadow: 0 -3px 8px 4px #eeeeee inset;
}
#cart .action-block .orders .order-template .amount-toggler-block .btn-default span {
  color: #ec6a1c;
}
#cart .action-block .summary {
  position: relative;
  margin-top: -2px;
  height: 200px;
}
#cart .action-block .summary .order-sum {
  display: inline-block;
  width: 100%;
  height: 25%;
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  border-top: 1px solid #e1e1e1;
}
#cart .action-block .summary .order-sum .outer {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#cart .action-block .summary .order-sum .outer span {
  display: inline-block;
  height: 100%;
  font-size: 22px;
  color: rgba(12, 12, 12, 0.94);
  font-weight: 600;
}
#cart .action-block .summary .order-sum .outer .title {
  position: absolute;
  left: 8px;
}
#cart .action-block .summary .order-sum .outer .title span {
  font-size: 18px;
  vertical-align: bottom;
}
#cart .action-block .summary .order-sum .outer .number {
  position: absolute;
  right: 8px;
}
#cart .action-block .summary .order-button {
  display: inline-block;
  width: 82%;
  height: 45px;
  position: absolute;
  top: 17%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #eea236;
  border-color: #eb9316;
}
#cart .action-block .summary .order-button span {
  color: white;
  font-size: 20px;
}
.top-info-bar {
  position: fixed;
  z-index: 5;
  top: 0;
  height: 90px;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
}
.top-info-bar .header-block {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 120px;
  height: 100%;
  width: 100%;
  min-width: 70px;
}
.top-info-bar .header-block .upper-header {
  position: relative;
  display: inline-block;
  width: 100%;
  border-bottom: rgba(165, 165, 165, 0.94) solid 1px;
}
.top-info-bar .header-block .upper-header .login-button {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 0;
}
.top-info-bar .header-block .upper-header .login-button .btn-warning {
  background: #eea236;
  border-color: #ec971f;
}
.top-info-bar .header-block .upper-header .login-button .btn-warning:hover {
  background: #ec971f;
  border-color: #eea236;
}
.top-info-bar .header-block .upper-header div {
  vertical-align: baseline;
  display: inline-block;
  color: rgba(165, 165, 165, 0.94);
  padding: 8px;
}
.top-info-bar .header-block .upper-header .hotline {
  padding-left: 0;
  font-size: 22px;
}
.top-info-bar .header-block .upper-header .working-time {
  font-size: 13px;
}
.top-info-bar .header-block .upper-header .delivery-info {
  font-size: 17px;
}
.top-info-bar .header-block .lower-header {
  position: relative;
  display: inline-block;
  width: 100%;
}
.top-info-bar .header-block .lower-header .homepage {
  text-decoration: none;
  line-height: 1px;
  vertical-align: bottom;
  font-size: 17px;
  color: white;
}
.container-fluid {
  padding-right: 350px;
  max-width: 1250px;
  min-width: 595px;
  margin-top: 25px;
}
.navigation-bar {
  margin-top: 110px;
  text-align: center;
  min-width: 295px;
}
.navigation-bar .btn-filter {
  background-color: transparent;
  border: none;
  color: #ec6a1c;
  font-size: 16px;
}
.navigation-bar .active {
  background-color: #ec6a1c;
  color: white;
  font-size: 16px;
}
.amount-label {
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 -1px 0 #c56300 inset;
  background-color: #f17f00;
  margin-top: -10px;
  text-align: center;
  vertical-align: middle;
}
.amount-label span {
  color: white;
  font-size: 14px;
  padding: 5px 7px 5px 7px;
  font-weight: 700;
  vertical-align: middle;
}
.title-text {
  margin-right: 5px;
  font-size: 32px;
  color: rgba(25, 25, 25, 0.94);
}
.visiting-block {
  display: inline-block;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 8px;
  width: 100px;
}
.visiting-block .bottom-border {
  transform: rotate(180deg);
  margin-top: -13px;
}
.visiting-block .content {
  border: #d06d15 solid 1px;
  border-bottom: none;
  text-align: center;
  background: #ea862e;
  padding: 14px;
}
.visiting-block .content .message-block {
  display: inline-block;
  width: 85%;
  text-decoration: none;
}
.visiting-block .content .message-block div {
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.visiting-block .content .message-block div:first-child {
  font-size: 20px;
}
.discount-block {
  display: inline-block;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 8px;
  width: 100px;
}
.discount-block .top-border {
  margin-bottom: -9px;
}
.discount-block .content {
  border: #b96013 solid 1px;
  border-top: none;
  text-align: center;
  background: #ea862e;
  font-size: 16px;
  padding: 7px;
}
.discount-block .content .message-block {
  display: inline-block;
  width: 85%;
  border-bottom: #b96013 dashed 2px;
}
.discount-block .content .message-block,
.discount-block .content .amount {
  color: white;
  font-weight: 600;
}
.discount-block .content .amount {
  font-size: 20px;
}
footer {
  padding: 4%;
  border-top: 1px solid #e1e1e1;
  background-color: white;
  position: relative;
  text-align: center;
}
footer p {
  color: #7c7c7c;
  line-height: 2em;
}
@media only screen and (max-width: 750px) {
  .hotline {
    font-size: 14px !important;
    padding-bottom: 0 !important;
    line-height: 1em;
  }
  .login-button {
    transform: translateY(90%) !important;
  }
}
