.pizza-card .row {
  text-align: center;
}
.pizza-card .description {
  font-size: 14px;
  height: 60px;
  overflow: auto;
}
.pizza-card .buy-big,
.pizza-card .buy-small {
  margin-top: 5px;
  background-color: #ec971f;
  border-color: #df8a13;
}
.pizza-card .buy-big:hover,
.pizza-card .buy-small:hover {
  background-color: #b97310;
  border-color: #a6670e;
}
.pizza-card .price {
  font-size: 34px;
  margin-top: 10px;
  margin-bottom: -10px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.pizza-card .pizza-stats {
  font-size: 18px;
}
.pizza-card .pizza-stats span {
  color: rgba(38, 38, 38, 0.94);
}
.pizza-card .icon {
  width: 15px;
  height: 15px;
}
.pizza-card .title {
  color: #ec6a1c;
  font-size: 26px;
  font-weight: 600;
}
.pizza-card .pizza-type {
  display: block;
  font-size: 12px;
  color: rgba(160, 160, 160, 0.98);
}
.pizza-card img {
  width: 100%;
  max-width: 300px;
}
.pizza-card .label {
  font-size: 17px;
  position: absolute;
  top: -8px;
  right: 0;
}
